@mixin hover-scale {
    transform: scale(1.05);
    transition: 0.4s;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bounce {
    animation: bounce 2s infinite;
}